<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%=@name%></h1>
    <h5>Coach: <%=@coach%></h5>
    <h5>Point Guard: <%=@pg%></h5>
    <h5>Shooting Guard: <%=@sg%></h5>
    <h5>Small Forward: <%=@sf%></h5>
    <h5>Power Forward: <%=@pf%></h5>
    <h5>Center: <%=@c%></h5>
 </body>
</html>


